* {
    background-color: lightslategray;
}

.inputError {
    color: lightcoral
}

.buttons {
    cursor: pointer; 
	background-color: lightblue;
	border: 1px solid black;
	width: 100px;
	height: 100px;
	padding: 5px;
	margin: 50px 10px;
}